<h1>Tipos de movimientos</h1>
<hr>

<div class="row">
    <div class="col text-right">
        <button class="btn btn-primary">
                <i class="fa fa-plus"></i>  
                Crear  
            </button>
    </div>
</div>




<table class="table mt-3 animated fadeIn faster">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Naturaleza</th>
            <th scope="col">Tools</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let tipoMov of tipoMovimientos; let i = index">
            <th scope="row"> {{i +1}}</th>
            <td>{{tipoMov.nombre}}</td>
            <td>{{tipoMov.nombreNaturaleza}}</td>
            <td>@mdo</td>
        </tr>

    </tbody>
</table>